global:
  wildcardDomain: rancher.localhost
  deployMongoDb:
    enabled: true
  deployOpenSearch:
    enabled: true
    dashboardEnabled: true

botApi:
  ingress:
    enabled: true

adminWeb:
  ingress:
    enabled: true

mongodb:
  architecture: "replicaset"
  replicaCount: 1
  auth:
    enabled: false
  persistence:
    enabled: false
    size: 1Gi
  image:
    repository: zcube/bitnami-compat-mongodb
    tag: 6.0.5

